@charset "UTF-8";
/* estilos noticias */
main .filtro ul {
  justify-content: space-evenly; }

main .noticias {
  white-space: normal;
  height: 100%;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "tituloUno textoNoticiasUno" "imgNoticiasUno textoNoticiasUno"   "tituloDos textoNoticiasDos " "imgNoticiasDos textoNoticiasDos";
  gap: 20px; }
  main .noticias .texto-noticias-uno {
    padding: 0px 50px 20px 50px;
    text-align: justify;
    grid-area: textoNoticiasUno; }
  main .noticias .texto-noticias-dos {
    padding: 0px 50px 20px 50px;
    text-align: justify;
    grid-area: textoNoticiasDos; }
  main .noticias .img-noticias-uno {
    text-align: center;
    grid-area: imgNoticiasUno; }
  main .noticias .img-noticias-dos {
    text-align: center;
    grid-area: imgNoticiasDos; }
  main .noticias .titulo-uno {
    grid-area: tituloUno; }
  main .noticias .titulo-dos {
    grid-area: tituloDos; }
  main .noticias div .foto-perfil {
    border-radius: 50%;
    width: 100px;
    text-align: center; }

main .paginas-navegador {
  display: inline-block;
  position: relative; }

/* estilos mi-perfil */
main {
  height: 100%; }
  main .foto-perfil {
    border-radius: 50%;
    width: 20%;
    display: block;
    margin: 0 auto; }
  main .nombre-perfil {
    text-align: center; }
  main .boton-editar {
    font-size: 1rem; }
  main .lista-favoritos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-content: start;
    align-items: center;
    grid-template-areas: "favorito-uno favorito-dos favorito-tres" "img-favorito-uno img-favorito-dos img-favorito-tres"; }
  main .favorito-uno {
    grid-area: favorito-uno; }
  main .favorito-dos {
    grid-area: favorito-dos; }
  main .favorito-tres {
    grid-area: favorito-tres; }
  main .img-favorito-uno {
    width: 50%;
    grid-area: img-favorito-uno; }
  main .img-favorito-dos {
    width: 50%;
    grid-area: img-favorito-dos; }
  main .img-favorito-tres {
    width: 50%;
    grid-area: img-favorito-tres; }

/* estilos index */
main .presentacion {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem; }

main div .carousel-inner img {
  margin: auto; }

main .ver-mas {
  text-decoration: none; }
  main .ver-mas ul li {
    display: inline-block;
    margin: 10px;
    padding: 15px 10px 15px 10px;
    border-style: solid; }
    main .ver-mas ul li a {
      text-decoration: none; }
  main .ver-mas ul li:hover {
    background-color: #292985; }
  main .ver-mas .destacado {
    padding: 10px; }

/* estilos catalogo */
main .catalogo {
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "img-manga-uno titulo-manga-uno" "img-manga-uno categorias-manga-uno"   "img-manga-uno manga-ejemplo-uno" "img-manga-dos titulo-manga-dos" "img-manga-dos categorias-manga-dos" "img-manga-dos manga-ejemplo-dos";
  gap: 20px; }

main .manga-ejemplo-uno {
  grid-area: manga-ejemplo-uno; }

main .manga-ejemplo-dos {
  grid-area: manga-ejemplo-dos; }

main .img-manga-uno {
  grid-area: img-manga-uno;
  width: 150px; }

main .img-manga-dos {
  grid-area: img-manga-dos;
  width: 150px; }

main .titulo-manga-uno {
  grid-area: titulo-manga-uno;
  font-size: 1.5rem; }

main .titulo-manga-dos {
  grid-area: titulo-manga-dos;
  font-size: 1.5rem; }

main .categorias-manga-uno {
  grid-area: categorias-manga-uno;
  font-size: 0.9rem;
  font-style: italic; }

main .categorias-manga-dos {
  grid-area: categorias-manga-dos;
  font-size: 0.9rem;
  font-style: italic; }

@media screen and (max-width: 425px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  header .home {
    display: none; }
  header nav {
    display: flex; }
  header .menu ul {
    flex-flow: column wrap;
    align-items: center; }
  main .noticias {
    display: flex;
    flex-flow: column wrap;
    height: 100%; }
  main .catalogo {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center; }
  main .filtro {
    display: none; }
  main .paginas-navegador {
    display: flex;
    justify-content: center;
    position: sticky; }
  main .lista-favoritos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    align-items: center;
    grid-template-areas: "img-favorito-uno favorito-uno " "img-favorito-dos favorito-dos " "img-favorito-tres favorito-tres"; }
  main .favorito-uno {
    grid-area: favorito-uno; }
  main .favorito-dos {
    grid-area: favorito-dos; }
  main .favorito-tres {
    grid-area: favorito-tres; }
  main .img-favorito-uno {
    width: 50%;
    grid-area: img-favorito-uno; }
  main .img-favorito-dos {
    width: 50%;
    grid-area: img-favorito-dos; }
  main .img-favorito-tres {
    width: 50%;
    grid-area: img-favorito-tres; }
  main .imagen-destacado img {
    width: 30%; }
  footer {
    display: none; } }

@media screen and (min-width: 426px) and (max-width: 950px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  header .home {
    display: none; }
  .legal {
    margin-left: auto; } }

main .noticias {
  display: flex;
  flex-flow: column wrap;
  height: 100%; }

main div .foto-perfil, main .imagen-destacado, main .otros-destacados, main .ver-mas, header {
  display: flex;
  justify-content: center; }

main .filtro ul, .paginas-navegador, footer .footer, footer .legal {
  display: flex; }

main .boton-editar, main .favorito-uno, main .favorito-dos, main .favorito-tres, main .favoritos, main .otros-destacados, main .titulo-manga-uno, main .titulo-manga-dos, .titulo, footer .footer-direccion h4 {
  text-decoration: underline; }

main div .tamaño-img-carousel {
  width: 25%; }

footer .footer-direccion h3, footer .footer-direccion h4, footer .legal {
  margin-left: 2rem; }

* {
  color: #cf9e15 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 1.6; }

body {
  background-image: linear-gradient(to right, #b5dfd7 0%, #9face6 100%);
  height: 100%; }

.paginas-navegador {
  justify-content: start;
  flex-flow: row wrap; }
  .paginas-navegador ul {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    text-decoration: none; }
    .paginas-navegador ul li {
      list-style: none;
      padding: 10px;
      background-color: #292985; }

header {
  padding: 10px;
  flex-flow: wrap;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 2;
  text-decoration: none;
  background-color: #6f6fe9; }
  header nav {
    text-shadow: 1px 1px 1px black; }
    header nav .nombre-pagina {
      font-size: 1.8rem; }
    header nav div div ul li .color-boton {
      background-color: #292985; }

main {
  margin: 30px;
  gap: 10px;
  text-shadow: 1px 1px 0.5px black; }

/*etiqueta general para titulos y subtitulos*/
.titulo {
  text-align: center;
  padding: 10px; }

/* estilos del footer*/
/* hecho con flex*/
footer {
  text-shadow: 1px 1px 0.2px black;
  position: sticky; }
  footer .footer {
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    background-color: #6f6fe9;
    border-top: 1px solid #e5e5e5; }
  footer .footer-direccion {
    margin-right: 1.25em;
    margin-bottom: 2em; }
    footer .footer-direccion h4 {
      margin-top: 1.3em;
      font-size: 1.3rem; }
    footer .footer-direccion .redes {
      list-style: none; }
      footer .footer-direccion .redes .logo-twitter {
        width: 11%; }
      footer .footer-direccion .redes .logo-facebook {
        width: 10%; }
  footer .footer-logo {
    font-size: 1.5rem; }
  footer .legal {
    flex-wrap: wrap; }
