
main {
    .imagen-destacado{
       @extend %flex-justify-center;
    }
    div{
        .carousel-inner img {
            margin: auto;
          }
        .tamaño-img-carousel{
            @extend %carousel-img;
        }
        
    }
        .otros-destacados{
            @extend %subrayado-titulo;
            @extend %flex-justify-center;
        }
    .ver-mas{
    text-decoration: none;
    @extend %flex-justify-center;
    ul{
        li{
            display: inline-block;
            margin: 10px;
            padding: 15px 10px 15px 10px;
            border-style: solid;
            a{
                text-decoration: none;
            }
        }
        li:hover{
            background-color: rgb(65, 105, 179);
        }
    }
    .destacado{
        padding: 10px;
    }
    }
}

