%flex-justify-center {
    display: flex;
    justify-content: center;
}

%flex-display{
    display: flex;
}

%subrayado-titulo{
    text-decoration: underline;
}

%carousel-img{
    width: 25%;
<<<<<<< HEAD
}

%margin-footer-left{
    margin-left: 2rem
=======
>>>>>>> d0646666f72955b5652cacbb84839723ce8863d7
}